<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Foglalások listája</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Foglalások a(z) <%= journeyId %>. számú járatra</h1>

    <% if (results.length> 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Foglalás ID</th>
                    <th>Felhasználó ID</th>
                    <th>Név</th>
                    <th>Foglalás törlése</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((booking)=> { %>
                    <tr>
                        <td>
                            <%= booking.reservation_id %>
                        </td>
                        <td>
                            <%= booking.user_id %>
                        </td>
                        <td>
                            <%= booking.name %>
                        </td>
                        <td class="delete-cell">
                            <button class="delete-button" data-reservation-id="<%= booking.reservation_id %>">Törlés</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h3>Nincsenek foglalások erre a járatra</h3>
            <% } %>

                <h1>Vonatjegy foglalás</h1>
                <form id="form" action="/book_ticket/<%= journeyId %>" method="POST">

                    <label for="user">Felhasználó</label>
                    <select name="user" id="user">
                        <% users.forEach((user)=> { %>
                            <option value="<%= user.user_id %>">
                                <%= user.name %>
                            </option>
                            <% }); %>
                    </select><br>

                    <input type="submit" id="submit" value="Jegy foglalása"><br>
                </form>

                <button class="link_button" onclick="location.href='/'">Vissza</button>

                <script src="../static/script.js"></script>
</body>

</html>