<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Foglalások listája</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="../pictures/favicon.png" />
</head>

<body>
    <h1>Foglalások a(z) <%= journeyId %>. számú járatra</h1>

    <% if (results.length> 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Foglalás ID</th>
                    <th>Felhasználónév</th>
                    <th>Hét sorszáma</th>
                    <th>Foglalás törlése</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((booking)=> { %>
                    <tr>
                        <td>
                            <%= booking.reservation_id %>
                        </td>
                        <td>
                            <%= booking.username %>
                        </td>
                        <td>
                            <%= booking.week_number %>
                        </td>
                        <td class="delete-cell">
                            <button class="delete-res-button" data-reservation-id="<%= booking.reservation_id %>">Törlés</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h3>Nincsenek foglalások erre a járatra</h3>
            <% } %>

                <h1>Vonatjegy foglalás</h1>
                <form id="form" action="/book_ticket/<%= journeyId %>" method="POST">

                    <% if(role === 'admin') { %>
                        <label for="username">Felhasználónév</label>
                        <select name="username" id="username">
                            <% users.forEach((user)=> { %>
                                <option value="<%= user.username %>">
                                    <%= user.username %>
                                </option>
                                <% }); %>
                        </select><br>
                    <% } %>

                    <label for="week">Hét</label>
                    <select name="week" id="week">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select><br>

                    <input type="submit" id="submit" value="Jegy foglalása"><br>
                </form>

                <button class="link_button" onclick="location.href='/'">Vissza</button>

                <script src="../static/script.js"></script>
</body>

</html>