<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Vonatjáratok</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/x-icon" sizes="32x32" href="../pictures/favicon.png" />
</head>

<body>

  <div class="search-train-container" id="search-train-container">
    <% if(role === false){ %>
      <a href='/loginpage'><button id="loginB" class="log_button">Bejelentkezés</button></a>
      <% } else { %>
        <div class="dropdown">
          <button class="log_button"><%= username %></button>
          <div class="dropdown-options">
            <a href="/resetpasswordpage">Jelszó megváltoztatása</a>
            <hr>
            <a href='/logout'>Kijelentkezés</a>
          </div>
        </div>
      <% } %>

    <h1>Vonatjáratok keresése</h1>
    <form id="search-form" action="/search_train" method="GET">
      <label for="from">Honnan:</label>
      <input type="text" id="from" name="from">

      <label for="to">Hova:</label>
      <input type="text" id="to" name="to">

      <label for="min-price">Minimális ár:</label>
      <input type="number" id="min-price" name="minprice" min="0">

      <label for="max-price">Maximális ár:</label>
      <input type="number" id="max-price" name="maxprice" min="0">

      <label for="type">Vonat típusa:</label>
      <select id="type" name="type" required>
        <option value="any">Regio / Inter regio</option>
        <option value="r">Regio</option>
        <option value="ir">Inter Regio</option>
      </select>

      <label for="day">A hét melyik napján:</label>
      <select id="day" name="day">
        <option value="any">Összes</option>
        <option value="hetfo">Hétfő</option>
        <option value="kedd">Kedd</option>
        <option value="szerda">Szerda</option>
        <option value="csutortok">Csütörtök</option>
        <option value="pentek">Péntek</option>
        <option value="szombat">Szombat</option>
        <option value="vasarnap">Vasárnap</option>
      </select><br>

      <input type="submit" id="submit" value="Járatok keresése"><br>
    </form>

    <% if(role === 'admin') { %>
      <button class="link_button" id="add-train-button">Vonatjárat hozzáadása</button>
      <% } %>

        <% if (direct.length> 0 || (typeof oneTransfer !=='undefined' && oneTransfer.length > 0) || (typeof twoTransfer
          !=='undefined' && twoTransfer.length > 0)) { %>
          <h1>Keresés eredménye</h1>
          <table>
            <% if (direct.length> 0) { %>
              <thead>
                <tr>
                  <th>Járat ID</th>
                  <th>Indulópont</th>
                  <th>Célállomás</th>
                  <th>Indulás időpontja</th>
                  <th>Érkezés időpontja</th>
                  <th>Nap</th>
                  <th style="text-align: center;">Foglalások</th>
                  <% if(role === 'admin') { %>
                  <th>Foglalás törlése</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% direct.forEach((journey)=> { %>
                  <tr class="journey-row" data-journey-id="<%= journey.journey_id %>">
                    <td>
                      <%= journey.journey_id %>
                    </td>
                    <td>
                      <%= journey.origin %>
                    </td>
                    <td>
                      <%= journey.destination %>
                    </td>
                    <td>
                      <%= journey.departure_time %>
                    </td>
                    <td>
                      <%= journey.arrival_time %>
                    </td>
                    <td>
                      <%= journey.day %>
                    </td>
                    <td>
                      <a href="/booking_list/<%= journey.journey_id %>">Foglalások megtekintése</a>
                    </td>
                    <% if(role === 'admin') { %>
                    <td class="delete-cell">
                        <button class="delete-journey-button" data-journey-id="<%= journey.journey_id %>">Törlés</button>
                    </td>
                    <% } %>
                  </tr>
                  <tr class="hidden">
                    <td class="additional-info-cell removed"></td>
                  </tr>
                  <% });%>

              <% } if(typeof oneTransfer !=='undefined' && oneTransfer.length> 0 ) { %>
                  <thead>
                    <tr>
                      <th colspan="7" style="text-align: center;">Egy atszalas</th>
                    </tr>
                    <tr>
                      <th>Indulópont</th>
                      <th>Átszállás</th>
                      <th>Átszállás időpontja</th>
                      <th>Célállomás</th>
                      <th>Indulás időpontja</th>
                      <th>Érkezés időpontja</th>
                      <th>Összár</th>
                    </tr>
                  </thead>
              <tbody>
                <% oneTransfer.forEach((journey)=> { %>
                  <tr>
                    <td>
                      <%= journey.origin %>
                    </td>
                    <td>
                      <%= journey.dest1 %>
                    </td>
                    <td>
                      <%= journey.ttime %>
                    </td>
                    <td>
                      <%= journey.dest2 %>
                    </td>
                    <td>
                      <%= journey.dtime %>
                    </td>
                    <td>
                      <%= journey.atime %>
                    </td>
                    <td>
                      <%= journey.price %>
                    </td>
                  </tr>
                  <% });%>

                  <% } if(typeof twoTransfer !=='undefined' && twoTransfer.length> 0 ) { %>
                    <thead>
                      <tr>
                        <th colspan="7" style="text-align: center;">Két átszállás</th>
                      </tr>
                      <tr>
                        <th>Indulópont</th>
                        <th>1. átszállás</th>
                        <th>2. átszállás</th>
                        <th>Célállomás</th>
                        <th>Indulás időpontja</th>
                        <th>Érkezés időpontja</th>
                        <th>Összár</th>
                      </tr>
                    </thead>
                <tbody>
                  <% twoTransfer.forEach((journey)=> { %>
                    <tr>
                      <td>
                        <%= journey.origin %>
                      </td>
                      <td>
                        <%= journey.dest1 %>
                      </td>
                      <td>
                        <%= journey.dest2 %>
                      </td>
                      <td>
                        <%= journey.dest3 %>
                      </td>
                      <td>
                        <%= journey.dtime %>
                      </td>
                      <td>
                        <%= journey.atime %>
                      </td>
                      <td>
                        <%= journey.price %>
                      </td>
                    </tr>
                    <% });%>
                      <% } %>
                </tbody>
            </table>

          <% } else { %>
            <h1>Nincs a megadott paramétereknek megfelelő vonatjárat!</h1>
            <% } %>

  </div>

  <div class="add-train-container" id="add-train-container">
    <h1>Vonatjárat hozzáadása</h1>
    <form id="add-train-form" action="/add_train" method="POST">
      <label for="from">Honnan:</label>
      <input type="text" id="from" name="from" required>

      <label for="to">Hova:</label>
      <input type="text" id="to" name="to" required>

      <label for="day">A hét melyik napján:</label>
      <select id="day" name="day">
        <option value="hetfo">Hétfő</option>
        <option value="kedd">Kedd</option>
        <option value="szerda">Szerda</option>
        <option value="csutortok">Csütörtök</option>
        <option value="pentek">Péntek</option>
        <option value="szombat">Szombat</option>
        <option value="vasarnap">Vasárnap</option>
      </select>

      <label for="dtime">Indulás időpontja:</label>
      <input type="text" id="dtime" name="dtime" placeholder="HH:mm" required>

      <label for="atime">Érkezés időpontja:</label>
      <input type="text" id="atime" name="atime" placeholder="HH:mm" required>

      <label for="price">Jegy ára (RON):</label>
      <input type="number" id="price" name="price" required>

      <label for="type">Vonat típusa:</label>
      <select id="type" name="type" required>
        <option value="r">Regio</option>
        <option value="ir">Inter Regio</option>
      </select><br>

      <input type="submit" id="submit" value="Járat hozzáadása">
    </form>
  </div>

  <script src="../static/script.js"></script>
</body>

</html>