<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Search Results</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Vonatjáratok keresése</h1>
  <form id="search-form" action="/search_train" method="GET">
    <label for="from">Honnan:</label>
    <input type="text" id="from" name="from" required><br>

    <label for="to">Hova:</label>
    <input type="text" id="to" name="to" required><br>

    <label for="min-price">Minimális ár:</label>
    <input type="number" id="min-price" name="minprice" min="0" required><br>

    <label for="max-price">Maximális ár:</label>
    <input type="number" id="max-price" name="maxprice" min="0" required><br>

    <input type="submit" id="submit" value="Járatok keresése"><br>
  </form>

  <button class="link_button" onclick="location.href='addTrain.html'">Vonatjárat hozzáadása</button>


  <% if (results.length> 0) { %>
    <h1>Keresés eredménye</h1>
    <table>
      <thead>
        <tr>
          <th>Járat ID</th>
          <th>Indulópont</th>
          <th>Célállomás</th>
          <th>Indulás időpontja</th>
          <th>Nap</th>
          <th>Jegy ára</th>
          <th>Vonat típusa</th>
          <th>Foglalások
        </tr>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((journey)=> { %>
          <tr>
            <td>
              <%= journey.journey_id %>
            </td>
            <td>
              <%= journey.origin %>
            </td>
            <td>
              <%= journey.destination %>
            </td>
            <td>
              <%= journey.departure_time %>
            </td>
            <td>
              <%= journey.day %>
            </td>
            <td>
              <%= journey.price %>
            </td>
            <td>
              <%= journey.type %>
            </td>
            <td>
              <a href="/booking_list/<%= journey.journey_id %>">Foglalások megtekintése</a>
            </td>
          </tr>
          <% });} else { %>
            <h1> Nincs a megadott paramétereknek megfelelő vonatjárat! </h1>
            <% } %>
      </tbody>
    </table>
    <script src="vaildator.js"></script>
</body>

</html>